section.hero {
  height: 90vh;
  background-color: var(--second-color);
  justify-content: space-between;
  overflow-x: hidden;
  z-index: -101;
}

.video,
.video-cover,
.why-us,
.why-us-box,
.benefit,
.benefit-cards,
.card,
.card-inside,
.hover,
.coming-soon-cover,
.coming-soon-txt,
footer,
footer nav,
.follow-us,
.socmed {
  display: flex;
}

.hero {
  z-index: -101;
}

.title h3 {
  font-weight: 400;
}

.hero_mobile {
  display: none;
}

.hero_img {
  overflow: hidden;
}

.gone {
  opacity: 0;
  display: none;
  transition: ease-in-out 0.7;
}

/* ------ VIDEO SECTION BEGIN ------ */

.video-cover {
  flex-direction: column;
}

.hiya {
  width: 40em;
  height: 20em;
  background-color: var(--third-color);
}

.video-cover {
  margin: auto;
}

.video-cover h3 {
  margin-top: 1em;
}

/* ------ WHY US SECTION BEGIN ------ */

.why-us {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.why-us-box {
  margin-top: 1.5em;
  background-color: var(--third-color);
  width: 80%;
  height: 60%;
  border-radius: 1.2em;
}

.why-us-img {
  width: 70%;
  background-color: rgb(243, 181, 109);
  border-radius: 1.2em 0 0 1.2em;
  background-image: url("../img/maskot2.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.why-us-txt {
  margin: auto 1em;
}

/* ------ BENEFIT SECTION BEGIN ------ */

.benefit {
  flex-direction: column;
  align-items: center;
  height: auto;
}

.benefit-cards {
  margin: 1em auto;
  width: 90%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.hover,
.card-inside {
  width: 15em;
  height: 15em;
  border-radius: 0.5em;
}

.card {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.card-inside {
  background-color: var(--third-color);
  margin: 1em 2em;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.card img {
  width: 80%;
  padding: 1em;
}

.card p {
  text-align: center;
}

.card a {
  color: var(--base-color);
}

.button {
  background-color: var(--second-color);
}

/* --- card gover ---- */

.hover {
  position: absolute;
  transform: translateY(110%);
  padding: 0 1em;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--second-color);
  color: var(--base-color);
  transition: ease-in-out 0.5s;
}

.hover a {
  color: var(--second-color);
  text-align: center;
  text-decoration: none;
  margin-top: 0.5em;
  background-color: var(--base-color);
}

.card:hover {
  cursor: pointer;
  transition: ease-in-out 0.5s;
}

.card:nth-child(4):hover,
.card:nth-child(6):hover {
  cursor: auto;
}

.card:hover .hover {
  transform: translateY(0);
}

/* ------ COMING SOON SECTION BEGIN ------ */

.coming-soon-cover {
  width: 90%;
  margin: auto;
  justify-content: space-between;
}

.phone {
  width: 50%;
}

.phone img {
  width: 100%;
}

.coming-soon-txt {
  width: 50%;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.coming-soon-txt h3 {
  font-size: 2em;
}

.coming-soon-txt p {
  margin-top: 2em;
  font-size: 0.9em;
}

/* ------ COMING SOON SECTION BEGIN ------ */

/* ------ Responsive ---------- */

@media screen and (max-width: 992px) {
  .hero img {
    width: 110%;
  }

  .why-us-img {
    width: 100%;
  }
}

@media screen and (max-width: 760px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow-y: hidden;
    z-index: -101;
  }

  .hero_mobile {
    display: block;
    width: 100%;
    height: 40em;
    /* margin-top: -5em; */
    background-image: url("../img/hero_home_mobile.png");
    margin-top: -2em;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center 5%;
  }

  .hero_img img {
    display: none;
  }

  .why-us-box {
    flex-direction: column;
  }
  .why-us-img {
    width: 100%;
    height: 50%;
    border-radius: 1.2em 1.2em 0 0;
    background-size: 20%;
  }

  .coming-soon-cover {
    flex-direction: column-reverse;
    align-items: center;
  }
  .coming-soon-cover img {
    margin-top: 2em;
  }

  footer nav {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .hero {
    align-items: center;
  }

  .title {
    justify-content: center;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .title h1 {
    min-width: 18ch;
    padding: 0 2em;
  }

  .hero_mobile {
    background-position: center 10%;
    background-size: 70%;
    width: 100vw;
  }

  .benefit h3 {
    text-align: center;
  }

  footer {
    flex-direction: column-reverse;
  }

  footer .logo {
    margin-top: 2em;
  }
}
