.video,
.video-cover,
.why-us,
.why-us-box,
.benefit,
.benefit-cards,
.card,
.card-inside,
.hover,
.coming-soon-cover,
.coming-soon-txt,
footer,
footer nav,
.follow-us,
.socmed,
.keep-scrolling,
.arrow {
  display: flex;
}

/* HERO SECTION BEGIN */

section.hero {
  height: 90vh;
  background-color: var(--second-color);
  justify-content: space-between;
  overflow-x: hidden;
  z-index: -101;
}

.homepage {
  background-image: url("/static/homepage/img/hero_home_img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 0;
}

h3 {
  font-size: 1.5em;
}

.title h3 {
  font-weight: 400;
}

.keep-scrolling {
  margin-top: 5em;
  font-size: 0.8em;
  flex-direction: column;
  width: 10vw;
  align-items: center;
  font-weight: 300;
}

.arrow {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  margin-top: 0.4em;
  border: 0.15em solid var(--base-color);
  transition: ease-in-out 0.3s;
}

.arim {
  padding: 0.7em;
}

.arrow:hover {
  background-color: var(--base-color);
  background-image: url("/static/homepage/img/keep-scrolling-arrow-red.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  transition: background-color ease-in-out 0.3s;
}

.arrow:hover .arim {
  display: none;
  visibility: hidden;
}

.gone {
  opacity: 0;
  display: none;
  transition: ease-in-out 0.7;
}

/* ------ VIDEO SECTION BEGIN ------ */

.video {
  height: 80vh;
}

.hiya {
  width: 40em;
  height: 20em;
  outline: none;
}

.video-cover {
  flex-direction: column;
  margin: auto;
}

.video-cover h3 {
  margin-top: 1em;
}

/* ------ WHY US SECTION BEGIN ------ */

.why-us {
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.why-us h3 {
  margin-top: -2em;
}

.why-us-box {
  background-color: var(--third-color);
  width: 80%;
  height: 60%;
  border-radius: 1.2em;
}

.why-us-img {
  /* width: 70%; */
  flex: 1;
  background-color: rgb(243, 181, 109);
  border-radius: 1.2em 0 0 1.2em;
  background-image: url("/static/homepage/img/maskot2.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.why-us-txt {
  margin: auto 1em;
  flex: 1;
}

/* ------ BENEFIT SECTION BEGIN ------ */

.benefit {
  flex-direction: column;
  align-items: center;
  height: auto;
}

.benefit-cards {
  margin: 1em auto;
  width: 90%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.hover,
.card-inside {
  width: 12em;
  height: 18em;
  border-radius: 0.5em;
}

.card {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.card-inside {
  background-color: var(--third-color);
  margin: 1em 2em;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.card img {
  width: 80%;
  padding: 1em;
}

.card p {
  text-align: center;
}

.card a {
  color: var(--base-color);
}

.button {
  background-color: var(--second-color);
}

/* --- card gover ---- */

.hover {
  position: absolute;
  transform: translateY(110%);
  padding: 0 1em;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--second-color);
  color: var(--base-color);
  transition: ease-in-out 0.5s;
}

.hover a {
  color: var(--second-color);
  text-align: center;
  text-decoration: none;
  margin-top: 0.5em;
  background-color: var(--base-color);
}

.card:hover {
  cursor: pointer;
  transition: ease-in-out 0.5s;
}

.card:nth-child(4):hover,
.card:nth-child(6):hover {
  cursor: auto;
}

.card:hover .hover {
  transform: translateY(0);
}

/* ------ COMING SOON SECTION BEGIN ------ */

.coming-soon-cover {
  width: 90%;
  margin: auto;
  justify-content: space-between;
}

.phone {
  width: 50%;
}

.phone img {
  width: 100%;
}

.coming-soon-txt {
  width: 50%;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.coming-soon-txt h3 {
  font-size: 2em;
}

.coming-soon-txt p {
  margin-top: 2em;
  font-size: 0.9em;
}

/* ------ Responsive ---------- */

@media screen and (max-width: 992px) {
  .why-us-img {
    width: 100%;
  }
  .title h3 {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 760px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    overflow-y: hidden;
    z-index: -101;
    background-size: 200%;
  }

  .homepage {
    background-size: cover;
    background-position: bottom center;
  }

  .hiya {
    width: 90vw;
  }

  .keep-scrolling {
    width: 100%;
  }

  .title {
    min-width: 100%;
    height: 100%;
  }

  menu {
    display: none;
  }

  .hero_img img {
    display: none;
  }

  .benefit h3 {
    text-align: center;
  }

  .why-us-box {
    flex-direction: column;
  }
  .why-us-img {
    width: 100%;
    height: 50%;
    border-radius: 1.2em 1.2em 0 0;
    background-size: 20%;
  }

  .coming-soon-cover {
    flex-direction: column-reverse;
    align-items: center;
  }
  .coming-soon-cover img {
    margin-top: 2em;
  }

  footer nav {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .hero {
    align-items: center;
  }

  .title {
    justify-content: center;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2em;
  }

  .title h1 {
    min-width: 18ch;
    padding: 0 2em;
  }

  .hero_mobile {
    background-position: center 10%;
    background-size: 70%;
    width: 100vw;
  }

  .benefit h3 {
    text-align: center;
  }

  footer {
    flex-direction: column-reverse;
  }

  footer .logo {
    margin-top: 2em;
  }
}