section.bergabung,
section.jual,
section.keuangan {
  height: 70vh;
}

.join_pr {
  background-image: url("/static/join/img/hero_join_pr_img.png");
  background-position: 70% 0;
}

.hero_sp {
  background-image: url("/static/join/img/hero_join_sp_img.png");
  background-position: 0 20%;
}

.title_pr,
.hero_img_pr,
.bergabung-cover,
.jual-cover,
.keuangan-cover,
.hero_img_sp,
.hero_sp {
  display: flex;
}

.keuangan,
.jual,
.bergabung {
  width: 100%;
}

.bergabung {
  margin-top: 2em;
}

/* HERO TITLE */
.title_pr {
  width: 50%;
  color: var(--third-color);
  font-size: 2em;
  padding: 0 2em;
  flex-direction: column;
  justify-content: center;
}

.title_pr h3 {
  font-size: 0.9em;
  font-weight: 400;
}

/* Support SECTION */

.bergabung-cover,
.jual-cover,
.keuangan-cover {
  margin: 2em auto;
  align-items: center;
}

.bergabung-cover img,
.jual-cover img,
.keuangan-cover img {
  /* background-color: var(--third-color); */
  flex: 1;
  border-radius: 10px;
  width: 50%;
}

.text {
  margin: 0 2em;
  flex: 1;
}

.text h3 {
  margin-bottom: 0.7em;
}

.jual-cover {
  flex-direction: row-reverse;
}

@media screen and (max-width: 922px) {
  .title_pr {
    font-size: 1.8em;
    width: 100%;
    margin-top: 2em;
    justify-content: center;
    height: 100%;
  }

  .title_pr h3 {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 760px) {
  .join_pr,
  .hero_sp {
    background-repeat: no-repeat;
    background-size: cover;
  }

  section.bergabung,
  section.jual,
  section.keuangan {
    height: auto;
  }
  .bergabung-cover,
  .jual-cover,
  .keuangan-cover {
    flex-direction: column-reverse;
  }
  .bergabung-cover img,
  .jual-cover img,
  .keuangan-cover img {
    width: 90%;
  }

  .bergabung-cover h3,
  .jual-cover h3,
  .keuangan-cover h3 {
    text-align: center;
    margin-top: 0.5em;
  }
}

@media screen and (max-width: 420px) {
  .hero_sp {
    align-items: flex-end;
  }

  .title_pr {
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    margin-top: 2em;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero_img_sp,
  .hero_img_pr {
    position: relative;
    width: 200%;
    height: 80vh;
    justify-content: flex-end;
  }
  .hero_img_pr {
    width: 120%;
  }

  .hero_img_sp img,
  .hero_img_pr img {
    position: absolute;
  }

  .hero_img_sp img {
    left: 30%;
    bottom: 0;
  }

  .hero_img_pr img {
    left: 10%;
    bottom: 0;
  }

  .bergabung-cover,
  .jual-cover,
  .keuangan-cover {
    flex-direction: column-reverse;
  }

  .bergabung-cover img,
  .jual-cover img,
  .keuangan-cover img {
    width: 100%;
  }
}