{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <section class="hero homepage">
            <div class="title">
                <h1>yang kamu butuhkan ketika lapar</h1>
                <h3>#GoodFoodGoodMood</h3>
                <div class="keep-scrolling">
                    <p>keep scrolling</p>
                    <div class="arrow">
                        <img class="arim" src="{% static 'homepage/img/keep-scrolling-arrow.svg' %}" alt="">
                    </div>
                </div>
            </div>
        </section>
    
        <section class="video">
            <div class="video-cover">
                <iframe src="https://www.youtube.com/embed/o0es0zwAdVw" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                <h3>Kisah Kami</h3>
            </div>
        </section>

        <section class="why-us">
            <h3>kenapa memilih kuma?</h3>
            <div class="why-us-box">
                <div class="why-us-img"></div>
                <div class="why-us-txt">
                    <p>Disini kamu dapat menemukan makanan dan minuman dari hasil olahan tangan-tangan kreatif masyarakat
                        Indonesia. Kamu juga bisa menjual produk olahanmu dan bermitra langsung dengan para petani yang telah
                        tergabung dengan kami di seluruh Indonesia.</p>
                </div>
            </div>
        </section>
        
        <section class="benefit">
            <h3>Keuntungan menggunakan kuma</h3>
            <div class="benefit-cards">                
                {% for benefit in benefits %}
                    {% if benefit.content.name == 'Gabung Sebagai Produsen' %}
                    <div class="card">
                        <div class="card-inside button">
                            <img src="{{ benefit.image.url }}" alt="">
                            <a href="">{{ benefit.content.name }}</a>
                        </div>
                    </div>
                    {% elif benefit.content.name == 'Gabung Sebagai Supplier' %}
                    <div class="card">
                        <div class="card-inside button">
                            <img src="{{ benefit.image.url }}" alt="">
                            <a href="">{{ benefit.content.name }}</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="card">
                        <div class="card-inside">
                            <img src="{{ benefit.image.url }}" alt="">
                            <p>{{ benefit.content.name }}</p>
                        </div>
                        <div class="hover">
                            <p>{{ benefit.content.description }}</p>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
        
        <section class="coming-soon">
            <div class="coming-soon-cover">
                <div class="phone">
                    <img src="{{ mobileapp.image.url }}" alt="">
                </div>
                <div class="coming-soon-txt">
                    <h3>{{ mobileapp.content.name }}</h3>
                    <p>{{ mobileapp.content.description }}</p>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
    