{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <section class="hero service">
            <div class="title">
                <h1>Layanan Kami</h1>
            </div>
        </section>
    
        <div class="features-nav">
            <div class="menu-tab tab-1 feature-nav-active">
                <p>Konsumen</p>
            </div>
            <div class="menu-tab tab-2">
                <p>Produsen</p>
            </div>
            <div class="menu-tab tab-3">
                <p>Supplier</p>
            </div>
        </div>
    
        <!-- content -->
        <div class="content">
            <section class="tab-content tab-1-content tab-active">
    
                <h3 class="feature-txt">Fitur Untuk Konsumen</h3>
    
                <!-- FEATURES -->
                <section class="feature-box">
                    <div class="features">                    
                        {% for consumer in consumers %}                    
                            {% if consumer.content.tab == 'Konsumen' %}
                                <div class="feature">
                                    <img src="{{ consumer.image.url }}" alt="">
                                    <p>{{ consumer.content.name }}</p>
                                    <span class="keterangan">
                                        {{ consumer.content.description }}
                                    </span>
                                </div>
                            {% endif %}                         
                        {% endfor %}
                    </div>
                </section>
            </section>
            <section class="tab-content tab-2-content">
                <h3 class="feature-txt">Fitur Untuk Produsen</h3>
    
                <!-- FEATURES -->
                <section class="feature-box">
                    <div class="features">
                        {% for consumer in consumers %}
                            {% if consumer.content.tab == 'Produsen' %}
                            <div class="feature">
                                <img src="{{ consumer.image.url }}" alt="">
                                <p>{{ consumer.content.name }}</p>
                                <span class="keterangan">
                                    {{ consumer.content.description }}
                                </span>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </section>
            </section>
            <section class="tab-content tab-3-content">
                <h3 class="feature-txt">Fitur Untuk Supplier</h3>
    
                <!-- FEATURES -->
                <section class="feature-box">
                    <div class="features">
                        {% for consumer in consumers %}
                            {% if consumer.content.tab == 'Supplier' %}
                            <div class="feature">
                                <img src="{{ consumer.image.url }}" alt="">
                                <p>{{ consumer.content.name }}</p>
                                <span class="keterangan">
                                    {{ consumer.content.description }}
                                </span>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </section>
            </section>
    
            <div class="feature-more">
                <img src="{% static 'service/img/promo.png' %}" alt="">
                <div class="feature-explanation">
                    <h3>Promosi</h3>
                    <p>Temukan harga promo menarik dari berbagai menu yang selalu kami sediakan di tiap minggunya. </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    