/* Display flex */

.features-nav,
.features-nav a,
.feature-box,
.features,
.feature,
.feature-more,
.service .title {
  display: flex;
}

/* ------------ Service Hero Section Begin ------------ */

.service {
  background-image: url("/static/service/img/hero_service_image.png");
  background-repeat: no-repeat;
}

.service .title h1 {
  width: 70%;
}

.container {
  width: 100%;
  margin: 0 auto;
}

/* ------------ Service Hero Section End ------------ */

/* ------------ Feature Navigation Section Begin ------------ */

.feature-nav {
  justify-content: space-between;
}

.menu-tab {
  flex: 1;
  margin-left: 0.3em;
  text-align: center;
}

.feature-nav-active {
  border-bottom: 2px solid var(--second-color);
  font-weight: 700;
  font-size: 1.2em;
}

.menu-tab:first-child {
  margin-left: 0;
}

.menu-tab:hover {
  cursor: pointer;
}

/* ------------ Feature Navigation Section End ------------ */

/* ------------ Feature Tab Section Begin ------------ */

.tab-content {
  display: none;
  margin-top: 2em;
}

.tab-active {
  display: block;
}

.tab-content {
  height: auto;
  flex: 1;
}

.content {
  padding-right: 2em;
  width: 90%;
  margin: auto;
}

.features-nav {
  justify-content: center;
  height: auto;
  padding: 2em 0;
  margin-bottom: 1em;
}

.feature-txt {
  margin: 1em 2em;
}

.feature-box {
  height: auto;
  width: 90vw;
  justify-content: flex-start;
  overflow-x: scroll;
}

.features {
  min-width: auto;
  align-content: flex-start;
  padding-right: 2em;
}

.feature,
.feature-more {
  padding: 1em;
  flex-direction: column;
  background-color: var(--third-color);
  border-radius: 1.2em;
  justify-content: center;
}

.feature {
  margin: 1em;
  align-items: center;
  font-size: 0.9em;
  width: 10em;
}

.feature img {
  width: 90%;
  margin-bottom: 1em;
}

.feature p {
  margin-top: -0.5em;
  text-transform: capitalize;
  text-align: center;
}

.feature span.keterangan {
  display: none;
}

.feature:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.feature-more {
  margin: 2em 1em;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.feature-more img {
  width: 20%;
}

.feature-explanation {
  margin-left: 2em;
  width: 60%;
}

.feature-more h3 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.5em;
}

.feature-explanation p {
  width: 80%;
  padding-right: 2em;
}

/* ------------ Feature Tab Section Begin ------------ */

/* ---- RESPONSIVE ---- */
@media screen and (max-width: 992px) {
  .feature {
    width: 100%;
  }
  .feature-more {
    justify-content: flex-start;
  }

  .feature-more img {
    margin-top: 1em;
  }
}

@media screen and (max-width: 760px) {
  .service {
    background-size: cover;
    background-position: center;
  }

  .service .title h1 {
    width: 100%;
    text-align: center;
  }
  .features-nav a {
    width: 80%;
  }

  .feature-box {
    flex-direction: column;
  }

  .features {
    width: 90vw;
    overflow-x: scroll;
    flex-wrap: nowrap;
  }

  .feature-more {
    margin-top: 1em;
  }

  .feature-explanation p {
    width: 90%;
  }
}

@media screen and (max-width: 420px) {
  .features-nav {
    font-size: 0.8em;
  }

  .feature {
    width: 50%;
  }

  .feature-more {
    flex-direction: column;
  }

  .feature-more img {
    width: 70%;
  }
  .feature-explanation {
    width: 100%;
  }

  .feature-more p,
  .feature-explanation h3 {
    text-align: center;
    width: 100%;
  }
}