{% load static %}
<footer>
    <div class="logo">
        <img src="{% static 'base/img/logo_white.svg' %}" alt="">
    </div>

    <nav>
        <a class="link" href="">beranda</a>
        <a class="link" href="">layanan</a>
        <a class="link" href="">Tentang kami</a>
        <a class="link" href="">gabung sebagai supplier</a>
        <a class="link" href="">gabung sebagai produsen</a>
    </nav>

    <div class="follow-us">
        <p>follow us on</p>
        <div class="socmed">
            <img src="{% static 'base/img/icon-facebook.svg' %}" alt="facebook logo">
            <img src="{% static 'base/img/icon-twitter.svg' %}" alt="facebook logo">
            <img src="{% static 'base/img/icon-ig.svg' %}" alt="facebook logo">
        </div>
    </div>
</footer>