{% load static %}
<header>
    <div class="logo">
        <img src="{% static 'base/img/logo1.png' %}" alt="">
    </div>
    <nav>
        <a class="link" href="">beranda</a>
        <a class="link" href="./service/konsumen/promosi.html">layanan</a>
        <a class="link" href="">Tentang kami</a>
        <div class="dropdown">
            <a class="link" href="">gabung</a>
            <div class="dropdown-content">
                <a href="">Supplier</a>
                <a href="">produsen</a>
            </div>
        </div>
    </nav>

    <menu>
        <a class="link" href="">beranda</a>
        <a class="link" href="./service/konsumen/promosi.html">layanan</a>
        <a class="link" href="">Tentang kami</a>
        <a class="link" href="">gabung sebagai supplier</a>
        <a class="link" href="">gabung sebagai produsen</a>
    </menu>

    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</header>