.arim {
  animation-name: goyang;
  animation-timing-function: ease-in-out;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes goyang {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}