/* FONT IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");
@import "../homepage/css/homepage.css";
@import "../service.css";

:root {
  --base-color: #f5ebdc;
  --second-color: #be3a1d;
  --third-color: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  background-color: var(--base-color);
  font-family: "Poppins", sans-serif;
  width: 100vw;
  overflow-x: hidden;
  color: var(--second-color);
}

/* HEADER SECTION */

header,
nav,
section,
.hero_img,
.title,
.wrap {
  display: flex;
}

header {
  width: 90%;
  height: 10vh;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 20%;
  padding: 1em 0;
}

nav {
  width: 40%;
  justify-content: space-between;
  font-size: 0.9em;
}

nav a {
  color: var(--second-color);
  text-decoration: none;
}

nav a,
.dropdown {
  position: relative;
}

/* --- nav dropdown --- */

nav a.link::after {
  content: "";
  width: 0%;
  height: 0.15em;
  background-color: #be3a1d;
  position: absolute;
  bottom: -5%;
  left: 50%;
  transition: all 0.3s ease-in-out;
}

nav a.link:hover::after {
  left: 0%;
  width: 100%;
}

/* ----- Dropdown Hover ----- */

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f8f8f8;
  right: -100%;
  /* margin-top: 0.3em; */
  z-index: 101;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a,
.dropdown-hamburger-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #eaeaea;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: ease-in-out 0.3s;
}

/* hamburger menu */
menu,
.burger {
  display: none;
}

.burger {
  cursor: pointer;
}

.burger div {
  width: 30px;
  height: 3px;
  background-color: var(--second-color);
  margin-bottom: 5px;
  transition: all 0.3s ease;
}

/* HERO SECTION */

.hero img {
  width: 100%;
}

.wrap {
  width: 100%;
  overflow: hidden;
  background-color: blueviolet;
  justify-content: flex-end;
}

/* .hero_image {
  background-color: blue;
  width: 90%;
  height: 100vh;
  background-image: url("../img/hero_home_img.png");
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: top;
} */

/* .hero_img {
  justify-content: flex-end;
  position: relative;
  width: 85%;
} */

.title {
  color: var(--base-color);
  width: 90%;
  flex-direction: column;
  justify-content: center;
  padding: 5em;
}

.title h1 {
  font-size: 4em;
  width: 90%;
}

/* Footer section */

footer {
  height: 50vh;
  background-color: var(--second-color);
  justify-content: space-around;
  padding: 3em;
  align-items: center;
}

footer .logo img {
  width: 100%;
}

footer nav {
  flex-direction: column;
  margin-left: 2em;
}

footer nav a {
  color: var(--base-color);
  margin-top: 1em;
}

.follow-us {
  flex-direction: column;
  color: var(--base-color);
  align-items: center;
}

.socmed {
  justify-content: space-around;
  margin-top: 1.5em;
}

.socmed img {
  width: 20%;
}

/* general style */

section {
  height: 100vh;
  min-width: 100vw;
}

h1,
h3,
nav a,
a {
  text-transform: capitalize;
}

/* -----  responsive menu ----- */

@media screen and (max-width: 992px) {
  nav {
    width: 40em;
  }

  .hero_img img {
    width: 100%;
    transform: translateX(10%);
  }

  .title {
    width: 80%;
  }

  .title h1 {
    width: 100%;
    font-size: 2.5em;
  }

  .hero img {
    width: 90%;
  }
}

@media screen and (max-width: 760px) {
  body {
    overflow-x: hidden;
  }

  nav {
    display: none;
  }

  menu {
    height: 100vh;
    background-color: var(--third-color);
    position: absolute;
    right: -10%;
    top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    transform: translateX(110%);
    transition: transform 0.5s ease-in-out;
    /* z-index: 201; */
  }
  menu a {
    color: var(--second-color);
    text-decoration: none;
    z-index: 101;
  }

  menu a:hover {
    cursor: pointer;
  }

  .burger {
    display: block;
  }

  .hero img {
    width: 110%;
  }

  .title h1 {
    font-size: 2em;
  }
}
.nav-active {
  transform: translateX(-5%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 7px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* scrollbar custom */

/* width */
::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bd3a1c;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
